#footer,
#top-menu,
#header,
#sidebar,
.contextual,
h2,
#timesheet-form,
/* hide edit\delete buttons */
#time_entries table td:nth-child(10),
#time_entries table th:nth-child(10),
/* hide checkbox\selection column */
#time_entries table td:first-child,
#time_entries table th:first-child,
/* hide user column */
#time_entries table td:nth-child(3),
#time_entries table th:nth-child(3),
/* hide version column */
#time_entries table td:nth-child(6),
#time_entries table th:nth-child(6) {
	display: none;
}

tr.total {
	display: table-row;
}

tr.total td {
  font-weight: bold;
}

#time_entries a {
	color: inherit;
	text-decoration: none;
}

table td *, table th {
	font-weight: normal;
}

h3 {
	page-break-before: always;
}

h3:first-of-type {
	page-break-before: auto;
}

* {
	border: 0 !important;
	background-color: #fff !important;
}

table * {
	text-align: left;
}

/* right align hours column */
#time_entries td:nth-child(9),
#time_entries th:nth-child(9)
{
	text-align: right;
}
